.red{color:#C30}
.custom_alert{background:#fafafa;border:1px solid #E8E8E8;padding:10px;}
.custom_table{width:50%;}
.custom_table td{padding:3px;}
.custom_priceTag{font-size:24px;color:#CCC;}
.custom_titleLight{color:#b3b3b3}
.custom_topzone{padding-top:15px;padding-right:15px;color:#CCC;}
.ad_publish_btn{width:80px;padding:2px;font-size:12px;border:1px solid #00a65a;border-radius:3px;text-align:center}
.ad_unpublish_btn{width:80px;padding:2px;font-size:12px;border-radius:3px;border:1px solid #dd4b39;text-align:center}
.ad_unpublish_btn a{color:#dd4b39} 
.ad_publish_btn a{color:#00a65a}
.ad_unpublish_btn a:hover,.ad_publish_btn a:hover{color:#333;}

.ad_paid_btn{width:80px;padding:2px;font-size:12px;border:1px solid #f39c12;border-radius:3px;text-align:center;color:#e08e0b;}
.ad_paid_btn a{color:#f39c12} 

.ad_free_btn{width:80px;padding:2px;font-size:12px;border:1px solid #ccc;border-radius:3px;text-align:center;color:#666}
.ad_free_btn a{color:#333} 

.ad_cash_paid_btn{width:80px;background:#00a65a;padding:2px;font-size:12px;border:1px solid #00a65a;border-radius:3px;text-align:center;color:#fff}
.ad_pending_btn{width:80px;background:#dd4b39;padding:2px;font-size:12px;border:1px solid #dd4b39;border-radius:3px;text-align:center;color:#fff}
.ad_cash_paid_btn a,.ad_pending_btn a{color:#fff}
.widget-user{padding:2px 5px 5px 10px;}
.explink{border:1px solid #eee;height:35px;}.expheight{margin-left:2px;height:35px;}
.padding-lft20{padding-left:15px;}