 .explink{border:1px solid #ddd;height:35px;}
 .expheight{height:35px;margin-left:2px}
.text-dark{color:#0673ab}
.red{color:#C30}
.custom_alert{background:#fafafa;border:1px solid #E8E8E8;padding:10px;}
.custom_table{width:50%;}
.custom_title12{color:#b3b3b3;}
.custom_table td{padding:3px;}
.custom_priceTag{font-size:24px;color:#b3b3b3;}
.custom_topzone{padding-top:15px;padding-right:15px;color:#CCC;}

.ad_publish_btn{width:80px;padding:2px;font-size:12px;border:1px solid #00a65a;border-radius:3px;text-align:center}
.ad_unpublish_btn{width:80px;padding:2px;font-size:12px;border-radius:3px;border:1px solid #dd4b39;text-align:center}
.ad_unpublish_btn a{color:#dd4b39} 
.ad_publish_btn a{color:#00a65a}
.ad_unpublish_btn a:hover,.ad_publish_btn a:hover{color:#333;}

.ad_paid_btn{width:80px;padding:2px;font-size:12px;border:1px solid #f39c12;border-radius:3px;text-align:center;color:#e08e0b;}
.ad_paid_btn a{color:#f39c12} 

.ad_free_btn{width:80px;padding:2px;font-size:12px;border:1px solid #ccc;border-radius:3px;text-align:center;color:#666}
.ad_free_btn a{color:#333} 

.ad_cash_paid_btn{width:80px;background:#00a65a;padding:2px;font-size:12px;border:1px solid #00a65a;border-radius:3px;text-align:center;color:#fff}
.ad_pending_btn{width:80px;background:#dd4b39;padding:2px;font-size:12px;border:1px solid #dd4b39;border-radius:3px;text-align:center;color:#fff}
.ad_cash_paid_btn a,.ad_pending_btn a{color:#fff}

.success_btn{padding:5px;font-size:14px;border:1px solid #00a65a;border-bottom:3px solid #00a65a;text-align:center;border-radius:20px;background:#66FF99}
.success_btn a{color:#666;}

.fail_btn{padding:5px;font-size:14px;border:1px solid #FFCC33;background:#FFFF99;text-align:center;border-radius:20px;}
.fail_btn a{color:#666;}

.upgrade_btn{padding:5px;font-size:14px;border:1px solid #669999;border-bottom:3px solid #669999;text-align:center;background:#CCFF99;border-radius:20px;}
.upgrade_btn a{color:#dd4b39;}

.upgrade_btn2{padding:5px;font-size:14px;border:1px solid #CC9966;border-bottom:3px solid #CC9966;text-align:center;background:#FFCC66;border-radius:20px;}
.upgrade_btn2 a{color:#666;}

#custWelcome{
border-bottom:5px solid #52b2c7;
/*border-radius:3px;*/
padding:10px;margin:0px;color:#fafafa;
margin-bottom:15px;
/*background-image:url(../images/dashbg3.png);*/
background-color:#63d8f1;    

}
#custWelcome a {color:#333;font-size:14px;}

.cust-welcome-pink{
border-bottom:5px solid #960155;
/*border-radius:3px;*/
padding:10px;margin:0px;color:#fff;
margin-bottom:15px;
/*background-image:url(../images/dashbg4.jpg);*/
background-color:#c51277;
}
.cust-welcome-pink  span{color:#4cae4c}
.cust-welcome-pink a{color:#C60;font-size:14px;}
#result {
	height:20px;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#FFFF99;
}

.suggestionsBox {
	position: absolute;
	left: 0px;
	top:40px;
	margin: 0px;
	width: 100%;
	padding:0px;
	background-color: #fff;
	border-top: 3px solid #ccc;
	color: #333;
	z-index:1001;
	overflow-y:scroll;
	max-height:400px;
}
.suggestionList {
	margin: 0px;
	padding: 0px;
}
.bg-green{background:#03c482;color:#fff;padding:10px}
.bg-pink{background:#d63c81;color:#fff;padding:10px}
.bg-blue{background:#1faaf4;color:#fff;padding:10px}
.bg-dark{background:#666;color:#fff;padding:5px;margin-bottom:10px;}

.suggestionList ul li {
	list-style:none;
	margin: 0px;
	padding: 6px;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	
	cursor: pointer;
}
.suggestionList ul li:hover {
	background-color: #FC3;
	color:#000;
}
ul {
	
	color:#333;
	padding:0;
	margin:0;
}

.load{
background-image:url('../images/loader.gif');
background-position:right;
background-repeat:no-repeat;
}

#suggest {
	position:relative;
}
#geoLocDiv{max-height:400px;overflow-y:scroll;}
.vm_frame{border:none;width:100%;height:300px;}
.bluebg{
	border-bottom:5px solid #276789;border-top:0px solid #2e6da4;
	padding-bottom:15px;padding:15px 10px 10px 10px;margin-bottom:25px;
    background: #00bff3; /* For browsers that do not support gradients */
   /* background: -webkit-linear-gradient(#66a0c2, #3b7b9a); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#66a0c2, #3b7b9a); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#66a0c2, #3b7b9a); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#66a0c2, #3b7b9a); /* Standard syntax */
}
.graybg{
	border-bottom:1px solid #ccc;border-top:0px solid #2e6da4;
	padding-bottom:15px;padding:15px 10px 10px 10px;margin-bottom:25px;
    background: #eeeeee; 
	/*background-image:url('../themeGbs/images/hero_bg.jpg');
	background-size: cover;
	background-position:center;*/
}
.panel-info2{background:#e2f6fa;color:#0d7b93;}
.panel-info2-heading{padding:10px;background:#03abe9;color:#fff;}
.panel-info2-body{border:1px solid #27e6ef}

.panel-pink{background:#f4e1e7;color:#cb557b;}
.panel-pink-body{border:1px solid #f2a9c1}
.panel-pink-heading{padding:10px;background:#f77da5;color:#fff;}

.panel-default{background:#e4e4e4;color:#0d7b93;padding:10px;}

.panel-success2{background:#60de7d;color:#0d7b93;}
.panel-success2-body{border:1px solid #79e896}
.panel-success2-heading{padding:10px;background:#5dd997;color:#fff;}

.border-1{border-bottom:1px solid #ccc;}
.bggray{background:#e2e2e2;height:50px;}
.no-margin{margin:0px;}
.w50per{width:100%;}

.w50per i {
  border-radius: 50px;
  box-shadow: 0 0 1px #777 inset;
  /*color: #fff;*/
  display: inline-block;
  font-size: 17px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}

.w50per_lft{width:40%;float:left}
.w50per_rgt{width:50%;float:left;}
.widget-user{padding:5px;}
.border_all{border:1px solid #ccc}
.padding-10{padding:10px;}

